VITE_GITHUB_CLIENT_ID=Iv23liQd2lcWRmtGkYVi
VITE_GITHUB_REDIRECT_URI=https://scotium.pages.dev/auth/callback
VITE_D1_DATABASE_ID=0d85242b-10c9-44dd-b14d-f324afdd8480
VITE_API_BASE=https://scotium.pages.dev/api
